.navbar_container {
    padding: 16px 24px;
    border: var(--border-width) solid var(--secondary-color);
}

ul {
    width: 172px;
    display: flex;
    flex-direction: column;
    padding: 0;
}


li {
    width: -webkit-fill-available;
    list-style-type: none;
    margin: 5px 0;
}

a {
    color: rgb(67, 68, 73);
}

.link {
    display: block;
    padding: 8px 12px 8px 8px;
    border-left: 5px solid transparent;
    font-size: 1.6rem;
    text-decoration: none;
    transition: background 400ms ease;
}

.link_active {
    border-left: 5px solid var(--primary-color);
    background: var(--navbar-background-active);
}

.link:hover,
.link:focus {
    background: var(--navbar-background-active);
    color: var(--primary-color);
}